.topbar {
  display: flex;
  height: 55px;
  padding: 0 15px;
  justify-content: space-between;
}

.left-section-topbar {
  display: flex;
  align-items: center;
}

.rigth-section-topbar {
  display: flex;
  align-items: center;
}
