<section class="topbar">
  <div class="left-section-topbar">
    <button class="btn btn-border btn-virtual-class">
      <i class="material-icons btn-icon">school</i>
      Mis Cursos
    </button>
  </div>
  <div class="rigth-section-topbar">
    <a target="_blank" class="mr-1">
      <img src="./assets/social-network-img/youtube.svg" alt="youtube" />
    </a>
    <a href="https://www.google.com/gmail/" target="_blank">
      <img src="./assets/social-network-img/google-gmail.svg" alt="mail icon" />
      <!-- {{email}} -->
    </a>
    <a target="_blank" class="ml-1">
      <img
        src="./assets/social-network-img/facebook-blue.svg"
        alt="facebook icon"
      />
    </a>
    <!-- <span>
      <i class="material-icons color-icon phone-icon">phone</i>
      {{phone}}
    </span> -->
  </div>
</section>
