<!--Filter area to search-->
<div class="panel-style">
  <div class="panel-title font1">
    Encuentra al nuevo integrante de tu familia
  </div>
  <div class="panel-subtitle font1">
    Adoptar es brindar una nueva oportunidad
  </div>
  <div class="element-area">
    <form class="form-area" novalidate [formGroup]="filterFormG">
      <mat-form-field appearance="fill" class="combo-style">
        <mat-label class="font1">Ciudad</mat-label>
        <mat-select formControlName="city" matNativeControl>
          <mat-option value="Cochabamba"> Cochabamba </mat-option>
          <mat-option value="La Paz"> La Paz </mat-option>
          <mat-option value="Santa Cruz"> Santa Cruz </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="combo-style">
        <mat-label class="font1">Tipo de Mascota</mat-label>
        <mat-select formControlName="type" matNativeControl>
          <mat-option value="perro"> Perro </mat-option>
          <mat-option value="gato"> Gato </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="combo-style">
        <mat-label class="font1">Tamaño</mat-label>
        <mat-select formControlName="size" matNativeControl>
          <mat-option value="pequeño"> Pequeño </mat-option>
          <mat-option value="mediano"> Mediano </mat-option>
          <mat-option value="grande"> Grande </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="combo-style">
        <mat-label class="font1">Sexo</mat-label>
        <mat-select formControlName="gender" matNativeControl>
          <mat-option value="hembra"> Hembra </mat-option>
          <mat-option value="macho"> Macho </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        style="padding: 20px"
        (click)="filter()"
      >
        <span class="font1">BUSCAR </span>
        <mat-icon style="vertical-align: middle">search</mat-icon>
      </button>
    </form>
  </div>
</div>
<!--Cards view area-->
<div style="display: flex; width: 100%; justify-content: center">
  <div class="content-home-view">
    <div
      class="pet-card"
      *ngFor="
        let pet of pets | paginate : { itemsPerPage: 6, currentPage: pages }
      "
    >
      <div class="pet-card-container spring-fever">
        <div class="pet-photo">
          <img src="./assets/photos/{{ this.searchPhoto(pet.petId) }}" />
        </div>
        <div class="title-content">
          <h3>
            <a href="#" class="font1" style="font-weight: bold">{{
              pet.name
            }}</a>
          </h3>
        </div>
        <div class="card-info font1">
          {{ pet.story }}
          <a [routerLink]="['/ficha-mascota', pet.petId]"> Ver más </a>
        </div>
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
      </div>
    </div>
  </div>
</div>
<div class="page-area">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="pages = $event"
    class="font1"
  ></pagination-controls>
</div>
