.element-area {
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.page-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-area ::ng-deep .ngx-pagination .current {
  background: var(--primary-bg-color);
}

.combo-style {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-style {
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: var(--accent-bg-color);
  background-image: url("src/assets/huellas.png");
  background-size: contain;
}

.panel-title {
  color: white;
  line-height: normal;
  display: block;
  text-align: center;
  font-size: 3vw;
  width: 50%;
  font-weight: bold;
}

.panel-subtitle {
  color: white;
  line-height: normal;
  display: block;
  text-align: center;
  font-size: 2vw;
  width: 50%;
  font-weight: 300;
}

.content-home-view {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-gap: 20px;
  /*gap: 60px 200px;*/
}

.pet-card {
  width: 380px;
  height: 430px;
  justify-self: center;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .content-home-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .content-home-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*card*/

.pet-card-container {
  max-width: 380px;
  width: 380px;
  height: 430px;
  position: relative;
  color: #fff;
  right: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;
}
.pet-card-container a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.pet-card-container .color-overlay {
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.pet-card-container .gradient-overlay {
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.pet-card-container:hover {
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.pet-card-container:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.pet-card-container:hover .color-overlay {
  background: rgba(0, 131, 143, 0.699);
}
.pet-card-container:hover .title-content {
  margin-top: 70px;
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s;
}

.pet-card-container:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

.pet-card-container h3,
h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  display: inline-block;
}
.pet-card-container h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.pet-card-container h3 a:hover {
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: var(--accent-bg-color);
  transition: all 0.2s;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}
.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a {
  display: block;
  width: 100px;
  margin: 15px auto;
  background: #fff;
  color: black;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 1em;
}
.card-info a:hover {
  background: var(--accent-bg-color);
  color: #fff;
}
.card-info a:hover span {
  filter: brightness(10);
  opacity: 1;
}

.pet-photo {
  width: 380px;
  height: 430px;
  background: #ccc;
  overflow: hidden;
}

.pet-photo img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .pet-photo img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
