<h1 mat-dialog-title>
  <div class="font1">{{ data.title }}</div>
</h1>
<div mat-dialog-content>
  <div class="font1">{{ data.question }}</div>
</div>
<div mat-dialog-actions align="center">
  <button mat-button color="primary" [mat-dialog-close]="true">
    <div class="font1">{{ data.acceptButonAction || "Aceptar" }}</div>
  </button>
  <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>
    <div class="font1">{{ data.cancelButonTitle || "Cancelar" }}</div>
  </button>
</div>
