<div class="panel-style">
  <div class="panel-title font1">Información de la mascota</div>
</div>

<div class="detail-area">
  <div class="photo-area">
    <div class="pet-photo">
      <img src="./assets/photos/{{ this.photo.petPhoto }}" />
    </div>
  </div>
  <div class="view-area">
    <div>
      <h1>
        <div class="font1">{{ this.pet.name }}</div>
      </h1>
      <h2>
        <mat-icon color="accent">pets</mat-icon>
        &nbsp;
        <div class="font1">{{ this.pet.breed }}</div>
      </h2>
      <h2>
        <mat-icon color="accent"> location_on</mat-icon> &nbsp;
        <div class="font1">{{ this.pet.city }}</div>
      </h2>
      <h2>
        <mat-icon color="accent">straighten</mat-icon> &nbsp;
        <div class="font1">{{ this.pet.size }}</div>
      </h2>
      <h2>
        <mat-icon svgIcon="maleFemale" color="accent"></mat-icon>
        &nbsp;
        <div class="font1">{{ this.pet.gender }}</div>
      </h2>
      <h2>
        <mat-icon color="accent"> local_hospital</mat-icon>
        &nbsp;
        <div class="font1">{{ this.pet.health }}</div>
      </h2>
      <h2>
        &nbsp;
        <div class="font1">{{ this.pet.story }}</div>
      </h2>
    </div>
  </div>
</div>
